body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #ff0000, #ffffff);
            height: 100%;
            text-align: center;
            padding: 40px;
        }

        .container {
            background: white;
            padding: 30px;
            border-radius: 15px;
            max-width: 400px;
            margin: auto;
            box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        }

        input {
            padding: 10px;
            width: 70%;
            border-radius: 8px;
            border: 1px solid #ccc;
        }

        button {
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            background: greenyellow;
            color: white;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            background: #054eeb;
        }

        img {
            width: 150px;
        }

        .pokemon-info {
            margin-top: 20px;
        }